{
    "extends": ["standard"],
    "plugins": [
        "html"
    ],
    "rules": {
        "eqeqeq": "off",
        "no-new": "off",
        "semi": "off",
        "quotes": "off"
    },
    "parser": "babel-eslint"
}
